* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  left: 30px;
  top: 30px;
  background: aqua;
}
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablet {
  width: 1100px;
  height: 640px;
  border: 3px solid black;
  background: pink;

  .weather {
    width: 150px;
    position: absolute;
    background: coral;
  }
  .textbox {
    text-align: center;
    background: palegreen;
  }
  .mainImg {
    background: powderblue;
  }
  .btn {
    background: brown;
  }
}
